.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.Board {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(8, 25px);
  width: 200px;
  height: 200px;
}

.Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
}

[color=brown]{
  background-color: brown;
}
[color=tan]{
  background-color: tan;
}