.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Board {
  margin: auto;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  width: 410px;
  height: 400px;
}

.Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

[color=brown]{
  background-color: brown;
}

[color=tan]{
  background-color: tan;
}

[color=black]{
  color: black;
}

[color=white]{
  color: white;
}